@import "./transition.scss";
@import "./element-plus.scss";

/* 自定义全局 CssVar */
:root {
  --pure-transition-duration: 0.016s;
}

/* 灰色模式 */
.html-grey {
  filter: grayscale(100%);
}


html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "PingFang SC", "Noto Sans",
    "Noto Sans CJK SC", "Microsoft YaHei", "微软雅黑", sans-serif;
  color: #303030;
  font-size: 14px;
  line-height: 1.35;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#app,
.app-container,
.main-view
{
  height: 100%;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}